{% extends "base.html" %}

{% block content %}
    <div id="list-title">
        <h1>List Movies</h1>
    </div>

    <form method="get" class="filter-form">
        <select name="genre">
            <option value="">Select Genre</option>
            {% for genre in genre_list %}
                <option value="{{ genre }}">{{ genre }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Filter">
    </form>

    {% for movie in movies %}
       <div class="movie-card">
        <a href="{% url 'detailMovie' movie.id %}">{{ movie.title }}</a>
       </div>
    {% endfor %}

    <div class="add-movie">
        <a href="{% url 'addMovie' %}">Add Movie</a>
    </div>

{% endblock %}